/* *{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
} */
body {
  background-color: rgb(136, 157, 157);
}

.contaner {
  /* border: 3px solid red; */
  width: 80%;
  height: 800px;
  margin: 100px auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: fit-content(1fr), fit-content(1fr), fit-content(1fr),
    fit-content(1fr);
  /* display: flex;
    justify-content: space-between; */
  gap: 20px 20px;
}
.image {
  display: flex;
  gap: 2px;
}
.image img {
  border-radius: 50%;
  width: 50px;
  height: 30px;
  /* display: flex;
    flex-direction: row; */
}
.image p {
  padding-top: 0px;
}
.merge {
  display: flex;
  flex-direction: column;
}
.bold {
  font-size: 20px;
  font-weight: bolder;
  /* opacity: 0.33; */
  color: white;
}
.box {
  padding: 30px;
  /* border: 2px solid rgb(251, 255, 0); */
  border-radius: 20px;
}
.box1 {
  background-color: blueviolet;
  grid-column: span 2;
  grid-row: span;
  color: white;
  background-image: url(https://kabir-sagiii.github.io/CSS_Grid_learn-grid-the-easy-way/images/bg-pattern-quotation.svg);
background-repeat: no-repeat;
background-position: 390px top;

}
.box2 {
  background-color: rgb(47, 46, 51);
  color: white;
  margin-top: 0px;
}
.box5 {
  background-color: rgb(33, 33, 40);
  color: white;
}
.box3 {
  grid-column: 4 / span 2;
  grid-row: 1 / span 2;
}
.box5 {
  grid-column: span 2;
}
.A1 {
  display: flex;
  flex-direction: column;
}
.opacity {
  opacity: 0.5;
}
.New_change {
  font-size: 20px;
  font-weight: 900;
}
.box3,
.box4 {
  background-color: rgb(226, 226, 226);
}
